<a href="https://colab.research.google.com/github/ealsk/Undergrad-DeepLearning-20Fall/blob/master/HW1_1_20182553.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Hello World !**

In [ ]:
print('Hello World')
print('Hello World {} + {} = {}'.format(2, 3, 2+3))

Hello World
Hello World 2 + 3 = 5

Basic data types

In [ ]:
x = 3
print(type(x))
print(x)

<class 'int'>
3

In [ ]:
print(x+1)
print(x-1)
print(x*2)
print(x**2)

4
2
6
9

For statement

In [ ]:
A=range(5)
print(A)

range(0, 5)

In [ ]:
print(A[2])

2

In [ ]:
for i in range(5):
  print(' {} ----- {}'.format(i, A[i]))

 0 ----- 0
 1 ----- 1
 2 ----- 2
 3 ----- 3
 4 ----- 4

In [ ]:
for i in range(9):
  print('{} x {} = {}'.format(2, i, 2*i))

2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16

Operators

In [ ]:
print((1,2,3)*3)
print([1,2,3]*3)
print("Hello "*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello

##Containers

Tuple

In [ ]:
months = ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August','September','October','November','December')

print(months[0])
print("index of 7 ==> ", months[7])

January
index of 7 ==>  August

In [ ]:
for item in months:
  print(item)

January
February
March
April
May
June
July
August
September
October
November
December

In [ ]:
t = ('john', 32, (2,3,4,5), 'hello')
print(t)
print(t[2]) 
print(t[2][1]) 
print(t[:2]) 

print(t[-1])
print(t[-2])

('john', 32, (2, 3, 4, 5), 'hello')
(2, 3, 4, 5)
3
('john', 32)
hello
(2, 3, 4, 5)

In [ ]:
li = ['hallym', 1, 3.141572, 'hello']
print(li)

['hallym', 1, 3.141572, 'hello']

In [ ]:
li[1] = 45
print(li)

['hallym', 45, 3.141572, 'hello']

In [ ]:
li.append('September')
print(li)

['hallym', 45, 3.141572, 'hello', 'September']

In [ ]:
v = []

In [ ]:
for i in range(0,3):
  v.append(i*5)
  print(i, v)

0 [0]
1 [0, 5]
2 [0, 5, 10]

+연산자

In [ ]:
print((1, 2, 3) + (4, 5, 6)) 
print([1, 2, 3] + [4, 5, 6]) 
print("Hello" + " " + "World")

(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]
Hello World

*연산자

In [ ]:
y=2.5
print(type(y))
print(y, y + 1, y * 2, y ** 2)

<class 'float'>
2.5 3.5 5.0 6.25

Enumeration (열거하기)

In [ ]:
for i, val in enumerate(v):
  print('{} ---> {}'.format(i, val))

0 ---> 0
1 ---> 5
2 ---> 10

In [ ]:
v2= [ 'A', 'B', 'C', '0', '1,', '2', '3']
print(v2)

['A', 'B', 'C', '0', '1,', '2', '3']

In [ ]:
for i,val in enumerate(v2):
  print('{} ---> {}'.format(i, val))

0 ---> A
1 ---> B
2 ---> C
3 ---> 0
4 ---> 1,
5 ---> 2
6 ---> 3